.title{
    text-align: center;
    color: rgb(240, 158, 7);
  }


.card {
    background-color: rgb(255, 255, 255);
    padding: 30px;
    border: 4px solid black;
    border-radius: 23px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Shadow for card effect */
    width: 100%;
    max-width: 222px; /* Limit card width for better appearance */
    background: rgba(246, 166, 120, 0.26);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.4px);
    -webkit-backdrop-filter: blur(3.4px);
    border: 1px solid rgba(230, 129, 70, 0.78);
    margin-top: 80px;
}



     /* Input Box Design */


.inputBox {
display: flex;
flex-direction: column;
justify-content: center;
margin-bottom: 15px;
}

.inputBox label {
display: block;
margin-bottom: 5px;
}

.inputBox input[type="text"],
.inputBox input[type="password"],
.inputBox input[type="email"] {
    width: 100%; /* Make all input boxes the same width */
    padding: 6px 10px; /* Adjust padding for better appearance */
    box-sizing: border-box;
    font-family: "Playfair Display", serif;
    background: none;
    border: none; /* Remove default borders */
    border-bottom: 2px solid #554e4e; /* Add bottom border (line) */
    outline: none; /* Remove input field outline */
    transition: border-color 0.3s ease, background 0.3s ease;
    font-size: 16px; /* Adjust font size */
}
.inputBox input {
    background: none;
    border: 2px solid #554e4e;
    transition: border-color 0.3s ease;
    left: 8px;
    padding: 0 5px;
  }
  


.inputBox button {
width: 50%;
background-color: #f3971e; 
color: rgb(12, 11, 11); 
border: none; /* Remove default border */
display: block;
margin: 2px auto;
padding: 12px 20px; /* Padding around the text */
font-size: 16px; 
font-weight: bold; 
align-items: center;
justify-content: center;
border-radius: 5px; /* Rounded corners */
cursor: pointer; /* Pointer cursor on hover */
font-family: "Playfair Display", serif;
}

.inputBox button:hover {
background-color: #eeeeee; /* white background color on hover */
transform: scale(1.05); /* Slightly enlarge the button on hover */
}

